html {
}

body {background-image: url(../_static/gaming2_bg.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      text-align: center;
        }

h1 {
    color: black;
    -webkit-text-fill-color: cadetblue; /* Will override color (regardless of order) */
  /*-webkit-text-stroke-width: 1px;*/
  /*-webkit-text-stroke-color: deeppink;*/
    max-width: 320px;
    font-size: xx-large;
    text-align: center;
    margin-left: auto; margin-right: auto;
}
h2 a {
    color: lightpink;
}
h2 {
    display: flex;
    justify-content: space-evenly;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: large;
}

nav a {
  color: whitesmoke;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
    display: flex;
    justify-content: space-evenly;
    max-width: 320px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: x-large;
}

nav h1 {
  flex: auto;
  margin: 0;
}
.blank_row {
    height: 10px
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
input.mobile_button {
    width: 10em;  height: 2em;
    font-size: xx-large;
    max-width: 320px;
}
input.playback_button {
    width: 8em;  height: 4em;
    font-size: x-large;
    max-width: 320px;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

h3 {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-left: auto; margin-right: auto;
    max-width: 640px;
}
h4 {
    color: white;
    font-size: medium;
    text-align: center;
    margin-left: auto; margin-right: auto;
    max-width: 640px;
}
h4 a {
    color: lightpink;
}
.tab1 {
            tab-size: 2;
        }
