html {
}

body {background-image: url(../_static/gaming1_bg.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      text-align: center;
        }

h1, h4, h5, h6 {
  color: black;
  -webkit-text-fill-color: cadetblue; /* Will override color (regardless of order) */
  /*-webkit-text-stroke-width: 1px;*/
  /*-webkit-text-stroke-color: deeppink;*/
}
h2 a {
    color: lightpink;
}
h2 {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px 0;
    font-size: medium;
}

nav a {
  color: whitesmoke;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px 0;
    background-image: url(../_static/gaming1_nav.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blank_row {
    height: 10px
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}
