{%  extends "base.html" %}
{% block lower_body %}
     <h3>
        The Inspiration
     </h3>
    <h4 class="tab1">
        The "Every Rock Beat Ever" App was originated from the idea of creating an algorithm
    as the rhythmic foundation for a progressive metal album. The initial "code base" was a simple calculator
    in a Google Sheets field, but after its Author attended an online Data Science Bootcamp it was
    quickly adopted into a Python App.
        <br><br>Please visit the <a href="/tutorial">Tutorial</a> section to learn how to use this app!
    </h4>
    <h3>
        Source Code / Contributions / Suggestions
     </h3>
    <h4 class="tab1">
        If you would like to tinker around with the code for this project, it can be found at:<br><br>
    <a href="https://github.com/cbradiodrums/EveryRockBeatEver"> https://github.com/cbradiodrums/EveryRockBeatEver </a>
    <br><br> Feel free to leave comments and suggestions for feature implementations and bug fixes.
    </h4>
    <h3>
        The Author
     </h3>
    <h4 class="tab1">
        Chris Burrows is an all around drummer with specialization in Progressive Metal and a Programmer with
    budding interests in Software Development and Data Science. You can also check out his contributions in musical
    projects on various platforms:
    <br><br>- <a href="https://open.spotify.com/artist/5B7dQ1AUrxKGunRPsh01Jp?si=D24JJj3xRWWNpbmTz7GYAw">
                Coma Cluster Void (Former Drummer)</a>
    <br>- <a href="https://thoren.bandcamp.com/">
                Thoren (Current Drummer)</a>
    <br>- <a href="https://vihaanmusic.com/">
                Vihaan (Former Session / Live Drummer) </a>
    <br>- <a href="https://ropband.bandcamp.com/">
                R.O.P. (Former Session / Live Drummer)</a>
    <br>- <a href="https://open.spotify.com/artist/5pFx6otrNwzwA4x2gwXjeW?si=ntDvLWwQQ-WyxLi7jzI61A">
                Wonderbox (Former Producer / Engineer)</a>
    </h4>
{% endblock %}
