<!doctype html>
<title> Every Rock Beat Ever (Drums) - {{ title }} </title>
<link rel="stylesheet" href=../_static/generate_style.css>
    <body>
        <nav style="padding-bottom: 2px">
            <a href="/about"><span>About</span></a>
            <a href="/"><span>Home</span></a>
            <a href="/tutorial"><span>Tutorial</span></a>
        </nav>
        <h1>
            <span> Every Rock Beat Ever (Drums)
            </span>
        </h1>
        {% block lower_body %}
        {% endblock %}
    </body>


