<!doctype html>
{%  block title %}
<title> Every Drum Beat Ever - {{ title }} </title>
{%  endblock %}
<link rel="stylesheet" href=../_static/index_style.css>
    <body>
        <nav>
            <a href="/about"><span>About</span></a>
            <a href="/tutorial"><span>Tutorial</span></a>
            <a href="/"><span>Home</span></a>
        </nav>
        <h1>
            <span> Every Drum Beat Ever
            </span>
        </h1>
        <h2>
            <a href="/step1"><span>Custom Steps</span></a>
            <a href="/randomize"><span>Randomizer</span></a>
            <a href="/generate_midi"><span>Quick Generate</span></a>
        </h2>
        <!-- Test Section -->
        <h3 style="color: white; font-size: small; text-align: center; justify-content: center">
            <table style="margin-left: auto; margin-right: auto; justify-content:center; color:white">
                <tr>
                    <td>APP VERSION: {{ version }}</td>
                </tr>
                <tr class="blank_row">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td> USER Session ID: {{ session_id }}</td>
                </tr>
                <tr>
                    <td>Template ID: {{  template_id }}</td>
                </tr>
            </table>
        </h3>
    </body>


