{% extends "base.html" %}
{%  block lower_body %}
<table style="margin-left: auto; margin-right: auto; justify-content:center; color:white">
     <!-- Page Info Row -->
    <tr class="blank_row">
            <td colspan="6" style="font-size: small; color: white">
                APP Version: {{ version }}  || [{{ CONTEXT }}]
            </td>
    </tr><tr class="blank_row">
            <td colspan="6" style="font-size: small; color: white">
                Session ID: {{ session_id }}
            </td>
     </tr><tr class="blank_row">
            <td colspan="6" style="font-size: small; color: white">
                Template ID: {{ template_id }}
            </td>
     </tr><tr class="blank_row">
            <td colspan="2"></td>
     </tr>
</table>
<form method="post">
    <table style="margin-left: auto; margin-right: auto; justify-content:center;
    text-align:center; color: white">
        <tr class="blank_row">
                <td colspan="3"></td>
        </tr><tr>
            <th style="font-size: x-large">Generate Rock Beat!</th>
        </tr><tr>
            <td>
                <input type="submit" name="quick_generate" value="Quick Generate" class="mobile_button">
            </td>
        </tr><tr>
            <th style="padding-bottom: 20px"></th>
        </tr>
        {% if MIDI_file %}
        <tr>
            <th style="font-size: x-large">Playback MIDI File</th>
        </tr>
        {% endif %}
        <!-- On 'Failure to Fetch' check CORS Configuration on Server -->
        {% if MIDI_playback and CONTEXT != 'LOCAL' %}
        <tr>
            <td style="background-color: lightblue">
                <midi-player
                    src="{{  MIDI_playback }}"
                    sound-font visualizer="#myPianoRollVisualizer">
                </midi-player>
                <midi-visualizer type="piano-roll" id="myPianoRollVisualizer"
                  src="{{  MIDI_playback }}" style="color: white">
                </midi-visualizer>
                <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
            </td>
        </tr>
        {% endif %}
        {% if MIDI_file and CONTEXT != 'CLOUD' %}
        <tr>
            <td>
                <input type="submit" name="playback_midi" value="PLAY" class="playback_button">
                <input type="submit" name="playback_midi" value="STOP" class="playback_button">
            </td>
        </tr>
        {% endif %}
        <tr>
            <th style="padding-bottom: 20px"></th>
        </tr><tr>
            <th>Current MIDI File = MIDI_{{  template_id }}</th>
        </tr><tr>
            {%  if MIDI_file %}
            <td>
                <input type="submit" name="download_midi" value="Download MIDI" class="mobile_button">
            </td>
            {%  else %}
            <td>
                <input type="submit" name="download_midi" value="disabled" disabled>
            </td>
            {% endif %}
        </tr><tr class="blank_row">
                <td colspan="3"></td>
        </tr>
    </table>
</form>
{%  endblock %}
